<section id="about" class="about">
    <div class="container">

        <div class="section-title">
            <h2>О платформе</h2>
        </div>

        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2">
                <img src="~/img/about-img.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1">
                <h3>
                     Образовательно-практическую платформа объединения молодых специалистов менторов
                </h3>
                <p class="fst-italic">
                    Наша цель – помочь молодым специалистам получить первый коммерческий опыт, 
                    а бизнесам – найти IT-решения для улучшения работы своего бизнеса за умеренную плату.
                </p>
                <ul>
                    <li><i class="bi bi-check2-circle"></i> Стажировка на реальных проектах <strong>для молодых специалистов</strong></li>
                    <li><i class="bi bi-check2-circle"></i> Возможность проявить себя для <strong>менторов</strong></li>
                    <li><i class="bi bi-check2-circle"></i> доступные <strong>ІТ-решения</strong> для малого и среднего бизнеса</li>
                </ul>
                <p>
                    Каждый проект на нашей платформе ведут опытные менторы со своей командой, что гарантирует качественный продукт на выходе для бизнеса и возможность молодым специалистам перенять знания ментора на реальном проекте.
                </p>
                <p>
                    Мы уверены, что образование и практический опыт – ключевые факторы для личностного и профессионального роста. Поэтому мы создали эту платформу, чтобы помочь молодым специалистам получить первый опыт работы в IT-сфере и развиваться вместе с нами.
                </p>
            </div>
        </div>

    </div>
</section><!-- End About Us Section -->
<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Мы предлогаем</h2>
            <p>
                Реальный опыт стажорам, возможность быть учителем опытным специалистам и разработку ИТ-проектов для бизнеса.
            </p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 icon-box">
                <div class="icon"><i class="bi bi-cash-coin"></i></div>
                <h4 class="title"><a href="">Бизнесу</a></h4>
                <p class="description">
                    У тебя есть идея в сфере IT и необходима помощь в ее реализации либо тебе необходимо улучшить уже работающее решение за умеренную плату.
                    Ты готов доверить реализацию идеи нашим стажерам, которые будут ее с увлечением реализовывать под чутким руководством опытных менторов. 
                    Оставляй заявку и мы свяжемся с тобой, чтобы найти наилучшее решение!
                </p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box">
                <div class="icon"><i class="bi bi-person-vcard"></i></div>
                <h4 class="title"><a href="">Стажорам</a></h4>
                <p class="description">
                    Присоединяйтесь к нашей платформе, чтобы получить возможность работать над интересными проектами, 
                    получить опыт от опытных менторов, и стать частью сообщества, которое стремится к развитию и успеху. 
                    Мы готовы помочь вам расти и развиваться вместе с нами!
                </p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box">
                <div class="icon"><i class="bi bi-mortarboard"></i></div>
                <h4 class="title"><a href="">Менторам</a></h4>
                <p class="description">
                    Как ментор, вы будете работать с командой молодых специалистов, помогая им развиваться и расти в IT-сфере. 
                    Вы сможете поделиться своим опытом и знаниями на практике, работая над реальными проектами. 
                    Это также может быть отличной возможностью для вас расширить свой кругозор и узнать о новых технологиях и подходах.
                </p>
            </div>
        </div>

    </div>
</section><!-- End Services Section -->
<!-- ======= Call To Action Section ======= -->
<section class="call-to-action">
    <div class="container">

        <div class="text-center">
            <h3>Хочешь Присоединиться к Нашей Команде?</h3>
            <p>Мы будем рады, если именно Вы присоединитесь к нашей команде профессионалов и стажеров, чтобы вместе развиваться, обмениваться опытом и делать наш миру чуточку лучше. Пожалуйста, перейдите к нашему опросу и заполните его. После завершения, мы свяжемся с Вами в ближайшее время.</p>
            <a class="cta-btn" href="https://docs.google.com/forms/d/e/1FAIpQLSfIT4XsjYedq2spE_IE7LyN8u7MiOzz3j57ctqZcOEJ_uhYGg/viewform?usp=sf_link">Присоединиться</a>
        </div>

    </div>
</section><!-- End Call To Action Section -->
<!-- ======= Our Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container">

        <div class="section-title">
            <h2>Our Interns Projects</h2>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-app">App</li>
                    <li data-filter=".filter-card">Card</li>
                    <li data-filter=".filter-web">Web</li>
                </ul>
            </div>
        </div>

        <div class="row portfolio-container">

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h3><a href="~/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1">App 1</a></h3>
                        <div>
                            <a href="~/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bi bi-plus"></i></a>
                            <a href="portfolio-details.html" title="Details"><i class="bi bi-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="~/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h3><a href="~/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3">Web 3</a></h3>
                        <div>
                            <a href="~/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bi bi-plus"></i></a>
                            <a href="portfolio-details.html" title="Details"><i class="bi bi-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h3><a href="~/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2">App 2</a></h3>
                        <div>
                            <a href="~/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bi bi-plus"></i></a>
                            <a href="portfolio-details.html" title="Details"><i class="bi bi-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <img src="~/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h3><a href="~/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2">Card 2</a></h3>
                        <div>
                            <a href="~/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bi bi-plus"></i></a>
                            <a href="portfolio-details.html" title="Details"><i class="bi bi-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="~/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h3><a href="~/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2">Web 2</a></h3>
                        <div>
                            <a href="~/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bi bi-plus"></i></a>
                            <a href="portfolio-details.html" title="Details"><i class="bi bi-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h3><a href="~/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3">App 3</a></h3>
                        <div>
                            <a href="~/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bi bi-plus"></i></a>
                            <a href="portfolio-details.html" title="Details"><i class="bi bi-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <img src="~/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h3><a href="~/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1">Card 1</a></h3>
                        <div>
                            <a href="~/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bi bi-plus"></i></a>
                            <a href="portfolio-details.html" title="Details"><i class="bi bi-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <img src="~/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h3><a href="~/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3">Card 3</a></h3>
                        <div>
                            <a href="~/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bi bi-plus"></i></a>
                            <a href="portfolio-details.html" title="Details"><i class="bi bi-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="~/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h3><a href="~/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 1">Web 1</a></h3>
                        <div>
                            <a href="~/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 1"><i class="bi bi-plus"></i></a>
                            <a href="portfolio-details.html" title="Details"><i class="bi bi-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Our Portfolio Section -->
<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Наиболее Часто Задаваемые Вопросы</h2>
        </div>

        <ul class="faq-list">

            <li>
                <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Какую главную проблему решает наш Startup?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        В настоящее время, трудно найти работу молодым и амбициозным специалистам, прошедшим переподготовку и закончившим курсы, так как у них банально нет опыта и работодатели не рассматривают таких кандидатов. Наша главная цель - подготовить и продать кандидатов в стартапы и компании, дать им всю необходимую информацию для старта карьеры и помочь им найти то самое место для начала своей карьеры в IT.
                    </p>
                </div>
            </li>

            <li>
                <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">В чём уникальность нашего Startup проекта? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        Наша лаборатория объединяет такие состовляющие, как - стажировка, обучение, исполнение заказов. Мы готовы делиться статистикой с массами - сколько кандидатов пришло, сколько из них трудоустроилось. Мы готовы будем обеспечить контроль качества реализуемых в рамках нашей лаборатории проектов.
                    </p>
                </div>
            </li>

            <li>
                <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Что мы готовы предоставить нашим кандидатам и менторам? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        Мы готовы развивать профессиональные навыки кандидата, предоставить опыт работы на реальных проектах с разным технологическим стеком, а также в конечном итоге трудоустроить нашего кандидата в компанию или мелкий Startup. Менторы же могут попробовать себя в роли Тимлида, руководя небольшой командой разработчиков, а также развивать свои навыки публичных выступлений и получать новые знания от других менторов.
                    </p>
                </div>
            </li>

            <li>
                <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">Чем мы можем быть полезны мелкому и среднему бизнесу? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq6" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        Мы готовы предоставить свои ресурсы и разработать кейс под ещё нереализованные проекты, заказчики которых не располагают большим количеством ресурсов и средств.
                    </p>
                </div>
            </li>

        </ul>

    </div>
</section><!-- End Frequently Asked Questions Section -->
<!-- ======= Our Team Section ======= -->
<section id="team" class="team">
    <div class="container">

        <div class="section-title">
            <h2>Наши менторы</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row gy-4">
            <div class="col-lg-4 col-md-6">
                <div class="member">
                    <img src="~/img/team/team-1.jpg" alt="">
                    <h4>Walter White</h4>
                    <span>Chief Executive Officer</span>
                    <p>
                        Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
                    </p>
                    <div class="social">
                        <a href=""><i class="bi bi-twitter"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a>
                        <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="member">
                    <img src="~/img/team/vp-v1.jpg" alt="">
                    <h4>Вадим Папко</h4>
                    <span>Architect | Chief .NET Technologist @@SaM Solutions</span>
                    <p>
                        Больше 10 лет в IT индустрии. Опыт в разработке и проектировании Web, Cloud решений. 
                        Спикер, Ментор, Тренер.
                    </p>
                    <div class="social">
                        <a href="https://twitter.com/VadzimPapko"><i class="bi bi-twitter"></i></a>
                        <a href="#"><i class="bi bi-facebook"></i></a>
                        <a href="#"><i class="bi bi-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/vadzim-papko/"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="member">
                    <img src="~/img/team/team-3.jpg" alt="">
                    <h4>William Anderson</h4>
                    <span>CTO</span>
                    <p>
                        Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                    </p>
                    <div class="social">
                        <a href=""><i class="bi bi-twitter"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a>
                        <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Our Team Section -->
<!-- ======= Contact Us Section ======= -->
<section id="contact" class="contact section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Contact Us</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-6">
                <div class="contact-about">
                    <h3>Amoeba</h3>
                    <p>Cras fermentum odio eu feugiat. Justo eget magna fermentum iaculis eu non diam phasellus. Scelerisque felis imperdiet proin fermentum leo. Amet volutpat consequat mauris nunc congue.</p>
                    <div class="social-links">
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="info">
                    <div>
                        <i class="bi bi-geo-alt"></i>
                        <p>A108 Adam Street<br>New York, NY 535022</p>
                    </div>

                    <div>
                        <i class="bi bi-envelope"></i>
                        <p>info@example.com</p>
                    </div>

                    <div>
                        <i class="bi bi-phone"></i>
                        <p>+1 5589 55488 55s</p>
                    </div>

                </div>
            </div>

            <div class="col-lg-5 col-md-12">
                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                    </div>
                    <div class="form-group mt-3">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center"><button type="submit">Send Message</button></div>
                </form>
            </div>

        </div>

    </div>
</section><!-- End Contact Us Section -->
<!-- ======= Map Section ======= -->
<section class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3024.2219901290355!2d-74.00369368400567!3d40.71312937933185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a23e28c1191%3A0x49f75d3281df052a!2s150%20Park%20Row%2C%20New%20York%2C%20NY%2010007%2C%20USA!5e0!3m2!1sen!2sbg!4v1579767901424!5m2!1sen!2sbg" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</section><!-- End Map Section -->