<section id="about" class="about">
    <div class="container">

        <div class="section-title">
            <h2>О нас</h2>
        </div>

        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2">
                <img src="~/img/about-img.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1">
                <p>
                    Мы - команда специалистов из различных сфер,<br/>
                    которые встретились на Хакатоне EdTech в июне 2023 года,<br/>
                    мыслят в формате win/win и стремятся сделать этот мир лучше! 
                </p>
                <p>
                    Наша цель – помочь специалистам получить первый коммерческий опыт, 
                    а бизнесу – реализовать IT-решения за умеренную плату.
                </p>
                <ul>
                    <li><i class="bi bi-check2-circle"></i> Приобретение опыта на реальных проектах <strong>для специалистов без опыта</strong></li>
                    <li><i class="bi bi-check2-circle"></i> Возможность проявить себя как <strong>ментор</strong></li>
                    <li><i class="bi bi-check2-circle"></i> доступные <strong>ІТ-решения</strong> для малого/среднего бизнеса</li>
                </ul>
            </div>
        </div>

    </div>
</section><!-- End About Us Section -->
<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Мы предлагаем</h2>
            <p>
                Реальный опыт стажёрам, возможность быть учителем опытным специалистам и разработку ИТ-проектов для бизнеса.
            </p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 icon-box">
                <div class="icon"><i class="bi bi-person-vcard"></i></div>
                <h4 class="title"><a href="">Стажёрам</a></h4>
                <p class="description">
                    Присоединяйтесь к нам, чтобы получить возможность работать над реальными проектами, 
                    получить первый опыт от менторов, и стать частью сообщества, которое стремится к развитию и успеху. 
                    Мы готовы помочь вам расти и развиваться вместе с нами!
                </p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box">
                <div class="icon"><i class="bi bi-mortarboard"></i></div>
                <h4 class="title"><a href="">Менторам</a></h4>
                <p class="description">
                    Как ментор, вы будете работать с командой молодых специалистов, помогая им развиваться и расти в IT-сфере. 
                    Вы сможете поделиться своим опытом и знаниями на практике, работая над реальными проектами. 
                    Это также может быть отличной возможностью для вас расширить свой кругозор и узнать о новых технологиях и подходах.
                </p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box">
                <div class="icon"><i class="bi bi-cash-coin"></i></div>
                <h4 class="title"><a href="">Бизнесу</a></h4>
                <p class="description">
                    У тебя есть идея в сфере IT и необходима помощь в ее реализации либо тебе необходимо улучшить уже работающее решение за умеренную плату.
                    Ты готов доверить реализацию идеи нашим стажерам, которые будут ее с увлечением реализовывать под чутким руководством опытных менторов. 
                    Оставляй заявку и мы свяжемся с тобой, чтобы найти наилучшее решение!
                </p>
            </div>
        </div>

    </div>
</section><!-- End Services Section -->
<!-- ======= Call To Action Section ======= -->
<section class="call-to-action">
    <div class="container">

        <div class="text-center">
            <h3>Хочешь Присоединиться к Нашей Команде?</h3>
            <p>Мы будем рады, если именно Вы присоединитесь к нашей команде профессионалов и стажеров, чтобы вместе развиваться, обмениваться опытом и делать наш миру чуточку лучше. Пожалуйста, перейдите к нашему опросу и заполните его. После завершения, мы свяжемся с Вами в ближайшее время.</p>
            <a class="cta-btn" href="https://docs.google.com/forms/d/e/1FAIpQLSfIT4XsjYedq2spE_IE7LyN8u7MiOzz3j57ctqZcOEJ_uhYGg/viewform?usp=sf_link">Присоединиться</a>
        </div>

    </div>
</section><!-- End Call To Action Section -->
<!-- ======= Our Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container">

        <div class="section-title">
            <h2>Проекты</h2>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">Все</li>
                    <li data-filter=".filter-app">Спорт/Здоровье</li>
                    <li data-filter=".filter-card">Архитектура/Недвижимость</li>
                    <li data-filter=".filter-web">Online-бизнес</li>
                </ul>
            </div>
        </div>

        <div class="row portfolio-container">

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h3><a href="~/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="">Аренда автомобилей</a></h3>
                        <div>
                            <a href="~/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bi bi-plus"></i></a>
                            <a href="https://carsharingapp.norwayeast.cloudapp.azure.com:21002/catalog" target="_blank" title="Details"><i class="bi bi-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="~/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h3><a href="~/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="">Сайт-визитка для спортивного клуба</a></h3>
                        <div>
                            <a href="~/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bi bi-plus"></i></a>
                            <a href="https://mfk.by" target="_blank" title="Подробнее"><i class="bi bi-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h3><a href="~/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="">Сайт о продукции компании</a></h3>
                        <div>
                            <a href="~/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bi bi-plus"></i></a>
                            <a href="https://belnewteh.by" target="_blank" title="Подробнее"><i class="bi bi-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <img src="~/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h3><a href="~/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="">Китайский культурный центр</a></h3>
                        <div>
                            <a href="~/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bi bi-plus"></i></a>
                            <a href="https://bel-huaqiao.com/cn/" target="_blank" title="Подробнее"><i class="bi bi-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="~/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h3><a href="~/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="">Интернет-магазин</a></h3>
                        <div>
                            <a href="~/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bi bi-plus"></i></a>
                            <a href="https://kroplia.by" target="_blank" title="Подробнее"><i class="bi bi-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h3><a href="~/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="">Сайт чемпионата</a></h3>
                        <div>
                            <a href="~/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bi bi-plus"></i></a>
                            <a href="https://belarusopencup.by" target="_blank" title="Подробнее"><i class="bi bi-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <img src="~/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h3><a href="~/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="">Продажа ворот</a></h3>
                        <div>
                            <a href="~/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bi bi-plus"></i></a>
                            <a href="https://tekarol.by" target="_blank" title="Подробнее"><i class="bi bi-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <img src="~/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h3><a href="~/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="">Архитектурное бюро</a></h3>
                        <div>
                            <a href="~/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bi bi-plus"></i></a>
                            <a href="https://pge.by" target="_blank" title="Подробнее"><i class="bi bi-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="~/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h3><a href="~/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="">Агрегатор клубов</a></h3>
                        <div>
                            <a href="~/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bi bi-plus"></i></a>
                            <a href="https://karateminska.by" target="_blank" title="Подробнее"><i class="bi bi-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Our Portfolio Section -->
<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Наиболее Часто Задаваемые Вопросы</h2>
        </div>

        <ul class="faq-list">

            <li>
                <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Какую главную проблему решает наш Startup?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        В настоящее время, трудно найти работу молодым и амбициозным специалистам, прошедшим переподготовку и закончившим курсы, так как у них банально нет опыта и работодатели не рассматривают таких кандидатов. Наша главная цель - подготовить и продать кандидатов в стартапы и компании, дать им всю необходимую информацию для старта карьеры и помочь им найти то самое место для начала своей карьеры в IT.
                    </p>
                </div>
            </li>

            <li>
                <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">В чём уникальность нашего Startup проекта? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        Наша лаборатория объединяет такие состовляющие, как - стажировка, обучение, исполнение заказов. Мы готовы делиться статистикой с массами - сколько кандидатов пришло, сколько из них трудоустроилось. Мы готовы будем обеспечить контроль качества реализуемых в рамках нашей лаборатории проектов.
                    </p>
                </div>
            </li>

            <li>
                <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Что мы готовы предоставить нашим кандидатам и менторам? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        Мы готовы развивать профессиональные навыки кандидата, предоставить опыт работы на реальных проектах с разным технологическим стеком, а также в конечном итоге трудоустроить нашего кандидата в компанию или мелкий Startup. Менторы же могут попробовать себя в роли Тимлида, руководя небольшой командой разработчиков, а также развивать свои навыки публичных выступлений и получать новые знания от других менторов.
                    </p>
                </div>
            </li>

            <li>
                <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">Чем мы можем быть полезны мелкому и среднему бизнесу? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq6" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        Мы готовы предоставить свои ресурсы и разработать кейс под ещё нереализованные проекты, заказчики которых не располагают большим количеством ресурсов и средств.
                    </p>
                </div>
            </li>

        </ul>

    </div>
</section><!-- End Frequently Asked Questions Section -->
<!-- ======= Our Team Section ======= -->
<section id="team" class="team">
    <div class="container">

        <div class="section-title">
            <h2>Наши менторы</h2>
            <p>
                Приглашаем опытных специалистов IT-сферы присоединиться к нашей платформе в качестве менторов. 
                Если вы имеете опыт в создании IT-продуктов и готовы поделиться своими знаниями и опытом с молодыми специалистами, мы будем рады видеть вас в нашей команде.
            </p>
        </div>

        <div class="row gy-4">
            <div class="col-lg-4 col-md-6">
                <div class="member">
                    <img src="~/img/team/ales.jpg" alt="">
                    <h4>Алесь Крот</h4>
                    <span>iOS developer @@SoftTeco</span>
                    <p>
                        Больше года работает в сфере проектирования мобильных приложений и IT-решений.
                    </p>
                    <div class="social">
                        <a href="https://twitter.com/aleskrot"><i class="bi bi-twitter"></i></a>
                        <a href="https://www.facebook.com/ales.krot/"><i class="bi bi-facebook"></i></a>
                        <a href="#"><i class="bi bi-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/aleskrot/"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="member">
                    <img src="~/img/team/vp-v1.jpg" alt="">
                    <h4>Вадим Папко</h4>
                    <span>Architect | Chief .NET Technologist @@SaM Solutions</span>
                    <p>
                        Больше 10 лет в IT индустрии. Опыт в разработке и проектировании Web, Cloud решений. 
                        Спикер, Ментор, Тренер.
                    </p>
                    <div class="social">
                        <a href="https://twitter.com/VadzimPapko"><i class="bi bi-twitter"></i></a>
                        <a href="#"><i class="bi bi-facebook"></i></a>
                        <a href="#"><i class="bi bi-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/vadzim-papko/"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="member">
                    <img src="~/img/team/glebyshka.jpg" alt="">
                    <h4>Глеб Сукристик</h4>
                    <span>Студент БГУиР | .NET Software Engeneer @@SaM Solutions</span>
                    <p>
                        Опыт в разработке и проектировании приложений на C# и DevOps Engineering.
                    </p>
                    <div class="social">
                        <a href="#"><i class="bi bi-twitter"></i></a>
                        <a href="#"><i class="bi bi-facebook"></i></a>
                        <a href="#"><i class="bi bi-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/glebyshka/"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Our Team Section -->
<!-- ======= Contact Us Section ======= -->
<section id="contact" class="contact section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Наши контакты</h2>
            <p>
                Мы верим, что образование является важной частью жизни любого человека, которое позволяет нам двигаться вперед и становиться лучше. 
                Присоединяйтесь к нам, чтобы получить возможность работать над реальными проектами и развиваться!
            </p>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-6">
                <div class="contact-about">
                    <h3>ExpertSchool</h3>
                    <p>
                        В социальных сетях мы обновляем информацию о наших проектах, стажёрах и студентах.
                    </p>
                    <div class="social-links">
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="info">
                    <div>
                        <i class="bi bi-geo-alt"></i>
                        <p>Я. Коласа 73/3<br>Минск, Беларусь</p>
                    </div>

                    <div>
                        <i class="bi bi-envelope"></i>
                        <p>expertshool@gmail.com</p>
                    </div>

                    <div>
                        <i class="bi bi-phone"></i>
                        <p>+375 (29) 117-22-22</p>
                    </div>

                </div>
            </div>

            <div class="col-lg-5 col-md-12">
                <form method="post" role="form" class="php-email-form" onsubmit="SendConfirmationMessage()">
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" id="name" placeholder="Name" required>
                    </div>
                    <div class="form-group mt-3">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" name="message" rows="5" id="myMessage" placeholder="Message" required></textarea>
                    </div>
                    <div class="text-center mt-3"><button type="submit">Отправить</button></div>
                </form>
            </div>

        </div>

    </div>
</section><!-- End Contact Us Section -->
<!-- ======= Map Section ======= -->
<section class="map">
    <div style="width: 100%"><iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=%D0%9C%D0%B8%D0%BD%D1%81%D0%BA,%20%D0%AF.%20%D0%9A%D0%BE%D0%BB%D0%B0%D1%81%D0%B0%2073/3+(ExpertSchool)&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe></div>
</section><!-- End Map Section -->
